*, html, body {
    margin: 0;
    padding: 0;
}

nav {
    padding: 1rem;
    background-color: #264653;
}
nav ul{
    max-width: 600px;
    display: flex;
    flex-direction: row;
    color: #fff;
    list-style-type: none;
}

nav li {
    padding: .5em 1em;
    font-size: 1.2em;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #ccc;
}