*, html, body {
    margin: 0;
    padding: 0;
}

nav {
    padding: 1rem;
    background-color: #264653;
}

nav ul {

}

nav .nav-links {
    max-width: 1500px;
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
    list-style-type: none;
    margin: auto;
}

nav li {
    padding: .5em 1em;
    font-size: 1.2em;
}

nav a,
nav a:visited {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #ccc;
}

.hero-section {
    width: 100%;
    height: 25rem;
    background-color: #e9c46a;
    display: flex;
    place-items: center;
    justify-content: center;
}

.call-to-action {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    color: #264653;
    /* background-color: #e76f51; */
    font-size: 2em;
    padding: 1rem;
}

.call-to-action a {
    margin-top: 1rem;
    background-color: #264653;
    color: #fff;
    width: max-content;
    padding: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-decoration: none;
}

.call-to-action a:hover {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.35);
    background-color: #e76f51;
}